.react-datetime {
  border: 1px solid #ccc;
  border-radius: 0.375rem;
}

.react-datetime-picker {
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
}

.react-datetime-picker input {
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
}
